

  #btn {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    margin-top: 20px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="number"], input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  button + ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  input[type="button"] {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type="button"]:hover {
    background-color: #005F6B;
  }
  
  input[type="button"]:active {
    background-color: #004247;
  }
  